@model ICollection<Member>
<h5>Index Page</h5>
<table class="table table-hover mt-5">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>Occupation</th>           
             <th>Status</th>
             <th>Role</th>
             <th>Date Joined</th>
            <th>District</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Gender</td>
                <td>@item.Occupation</td>
                @if (item.Status == "approved")
                {
                    <td class="approved">@item.Status</td>
                }
                else
                {
                    <td class="pending">@item.Status</td>
                }
                <td>@item.Role</td>
                <td>@item.RegistrationDate.Day<span>/</span>@item.RegistrationDate.Month<span>/</span>@item.RegistrationDate.Year</td>
                <td>@item.District</td>
                <td>
                    <a class="submit_link" asp-area="" asp-route-id="@item.memberId" asp-controller="Member" asp-action="Index">
                        View
                    </a>
                </td>
                <td>
                    <a class="submit_link" asp-area="" asp-route-id="@item.memberId" asp-controller="Member" asp-action="LoanApplication">
                        Loan
                    </a>
                </td>
                <td>
                    <a class="submit_link" asp-area="" asp-route-id="@item.memberId" asp-controller="Member" asp-action="CreateAccount">
                       Deposit
                    </a>
                </td>
                <td>
                    <a class="submit_link" asp-area="" asp-route-id="@item.memberId" asp-controller="Member" asp-action="Withdraw">
                       Withdraw
                    </a>
                </td>
            
            </tr>

        }
    </tbody>
</table>